<!DOCTYPE html>
<html lang="en">
<head>
    <title>オセロ</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <style>
        table {
            table-layout: fixed;
            width: 800px;
            height: 800px;
        }
    </style>
</head>
<body>
    <p>Othello</p>
    <table border="1">
        <tr>
            {% for key in 11..18 %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for key in 21..28 %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for key in 31..38 %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for key in 41..48 %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for key in 51..58 %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for key in 61..68 %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for key in 71..78 %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for key in 81..88 %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
    </table>
</body>
<script src="{{ mix('/js/app.js') }}"></script>
</html>