<!DOCTYPE html>
<html lang="en">
<head>
    <title>オセロ</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <style>
        table {
            table-layout: fixed;
            width: 800px;
            height: 800px;
            font-size: 36px;
            text-align: center;
        }
    </style>
</head>
<body>
    <p>Othello</p>
    <a href="/othello/reset">Game Reset</a>
    <a href="/othello/pass">Pass</a>
    {% set blackorwhite = { 0: '○', 1: '●' } %}
    <form name="form_othello" action="/othello/create" method="post">
        {{ csrf_field() }}
        <div class="message">
            <h2>{{ errors.first('message') }}</h2>
            <h2>{{ session('message') }}</h2>
            <h3>{{ attribute(blackorwhite, now_category) }}の番です。</h3>
        </div>
        <div class="othello">
            <table border="1">
                <tr>
                    {% for key in 11..18 %}
                        <td onclick="inputOthello({{ key }});">
                            <input type="hidden" name="key" id={{ key }} value={{ key }} disabled>
                            {{ attribute(blackorwhite, session('all_othello.'~key)) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key in 21..28 %}
                        <td onclick="inputOthello({{ key }})">
                            <input type="hidden" name="key" id={{ key }} value={{ key }} disabled>
                            {{ attribute(blackorwhite, session('all_othello.'~key)) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key in 31..38 %}
                        <td onclick="inputOthello({{ key }})">
                            <input type="hidden" name="key" id={{ key }} value={{ key }} disabled>
                            {{ attribute(blackorwhite, session('all_othello.'~key)) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key in 41..48 %}
                        <td onclick="inputOthello({{ key }})">
                            <input type="hidden" name="key" id={{ key }} value={{ key }} disabled>
                            {{ attribute(blackorwhite, session('all_othello.'~key)) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key in 51..58 %}
                        <td onclick="inputOthello({{ key }})">
                            <input type="hidden" name="key" id={{ key }} value={{ key }} disabled>
                            {{ attribute(blackorwhite, session('all_othello.'~key)) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key in 61..68 %}
                        <td onclick="inputOthello({{ key }})">
                            <input type="hidden" name="key" id={{ key }} value={{ key }} disabled>
                            {{ attribute(blackorwhite, session('all_othello.'~key)) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key in 71..78 %}
                        <td onclick="inputOthello({{ key }})">
                            <input type="hidden" name="key" id={{ key }} value={{ key }} disabled>
                            {{ attribute(blackorwhite, session('all_othello.'~key)) }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key in 81..88 %}
                        <td onclick="inputOthello({{ key }})">
                            <input type="hidden" name="key" id={{ key }} value={{ key }} disabled>
                            {{ attribute(blackorwhite, session('all_othello.'~key)) }}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </form>
</body>
<script src="{{ mix('/js/app.js') }}"></script>
<script>
    function removeClickKeyDisabled(key) {
        document.getElementById(key).disabled = "";
    }

    function submitTableForm() {
        document.form_othello.submit();
    }

    function inputOthello(key) {
       removeClickKeyDisabled(key);
       submitTableForm();
    }

</script>
</html>